<!-- Portfolio -->
<div id="portfolio" class="container text-center brown-text">
        <h1 class="title mt-5 mb-5">
            <u>PORTFOLIO</u>
        </h1>
      
      
        <!--Card-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbRippleRadius>
                        <img src="../../assets/images/ayo-kita-buat.png" class="img-fluid" alt="Ayo Kita Buat">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Ayo Kita Buat</h4>
                        <!--Text-->
                        <p class="card-text">Ayo Kita Buat is website for DIY</p>
                        <a class="btn btn-primary waves-light" href="https://www.ayokitabuat.com" target="_blank" mdbRippleRadius>View</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                 <div class="card">
                    <!--Card image-->
                    <div class="view hm-white-slight waves-light" mdbRippleRadius>
                        <img src="../../assets/images/convection-logo.png" class="img-fluid" alt="Convection">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Convection</h4>
                        <!--Text-->
                        <p class="card-text">Prototype of modern platform for tailors</p>
                        <a class="btn btn-primary waves-light" href="http://calm-caverns-44380.herokuapp.com/" target="_blank" mdbRippleRadius>View</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <!--Card image-->
                    <div class="view hm-white-slight waves-light" mdbRippleRadius>
                        <img src="../../assets/images/art-design.jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Art & Design</h4>
                        <!--Text-->
                        <p class="card-text">Digital art, design and illustrator</p>
                        <a class="btn btn-primary waves-light" href="https://meijum.deviantart.com/" target="_blank" mdbRippleRadius>View</a>
                    </div>
                </div>
            </div>
            <!--/.Card-->
        </div>
      </div>
      <!-- /Portfolio -->