<header>         
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
        <logo>
            <a [routerLink]="['/home']" class="logo navbar-brand name"><strong>Meigara Juma</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active waves-light" mdbRippleRadius>
                    <a class="nav-link" pageScroll href="#portfolio">PORTFOLIO</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" pageScroll href="#about">ABOUT</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" pageScroll href="#contact">CONTACT</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>     
<!--Main Navigation-->
        