.navbar {
  background-color: transparent;
}
.navbar-nav {
  font-family: 'Sofia';
}
.name {
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color:brown;
  }
}



.name {
  font-family: 'Sofia';
}