<!-- Main -->
<div class="view intro">
    <div class="full-bg-img flex-center">
        <div class="container text-center brown-text wow fadeInUp">
            <h1 class="welcome">Welcome To My Page</h1>
            <br>
            <h3>
                <b>Web Development ● Illustrator ● Graphic Design</b>
            </h3>
        </div>
    </div>
</div>
<!-- /.Main -->

<!-- Portfolio -->
<div class="container text-center brown-text">
    <h1 class="title mt-5 mb-5">
        <u>PORTFOLIO</u>
    </h1>
</div>
<!-- /Portfolio -->

<!-- About -->
<div class="container text-center brown-text">
    <h1 class="title mt-5 mb-5">
        <u>ABOUT</u>
    </h1>
</div>
<!-- /About -->

<!-- About -->
<div class="container text-center brown-text">
    <h1 class="title mt-5 mb-5">
        <u>CONTACT</u>
    </h1>
</div>
<!-- /About -->